div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url('../images/737607.jpg');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: #303030;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_logo
{
   vertical-align: top;
}
#logo
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_copyright 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_copyright div
{
   text-align: center;
}
#wb_about_text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_about_text div
{
   text-align: left;
}
#Banner1
{
   background-image: linear-gradient(to top, #FAE692 0%, #FEEFAF 100%);
   border: 3px groove #303030;
   border-radius: 0px;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   margin: 0;
}
#Banner1 span
{
   display: block;
   height: 16px;
   margin: 7px 0 7px 15px;
}
#Line1
{
   border-color: #1342EA;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_about-text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_about-text1 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Button2
{
   border: 0px solid #2E6DA4;
   border-radius: 0px;
   background-color: #2E8B57;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Table1
{
   border: 2px solid #C0C0C0;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
   position: relative;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   height: 30px;
   font-size: 0;
}
#Table1 .cell1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   height: 62px;
   font-size: 0;
}
#Table1 .cell2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   height: 62px;
   font-size: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_search
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#youtab12
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#youtab12_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#veg
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#veg_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#youtube_
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#youtube__text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3
{
   border: 0px solid #2E6DA4;
   border-radius: 0px;
   background-color: #2E8B57;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Shape1
{
   width: 135px;
   height: 92px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 15px rgba(0,0,0,0.47);
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.22%;
   top: 3.26%;
   width: 94.81%;
   height: 92.39%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#sosis
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#sosis_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#skype
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#skype_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#youtab13
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#youtab13_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#music
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#music_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_blog 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_blog div
{
   text-align: left;
}
#pg3d
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#pg3d_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_sett 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_sett div
{
   text-align: left;
}
#wb_home 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_home div
{
   text-align: left;
}
#wb_about 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_about div
{
   text-align: left;
}
#xp_error
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#xp_error_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#minerlands
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#minerlands_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#pg3dspectrum
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#pg3dspectrum_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#merry_christmas
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#merry_christmas .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#merry_christmas.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#merry_christmas .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#merry_christmas .modal-open
{
   overflow: hidden;
}
#merry_christmas .modal-dialog
{
   position: relative;
   width: 802px;
   margin-left: auto;
   margin-right: auto;
}
#merry_christmas .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#merry_christmas .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #FF5757;
   border-bottom: 1px solid #FA8072;
}
#merry_christmas .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #FA8072;
}
#merry_christmas .modal-body
{
   position: relative;
   width: 802px;
   height: 508px;
}
#merry_christmas .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   -webkit-transition: opacity .15s linear;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5;
}
.modal-open
{
   overflow: hidden;
}
#merry_christmas .modal-header
{
   cursor: move;
}
#merry_christmas .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#merry_christmas .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#merry_christmas .modal-title
{
   color: #FFFFFF;
   font-family: "Trebuchet MS";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   margin: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_blog1
{
   vertical-align: top;
}
#blog1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_blog_attention
{
   vertical-align: top;
}
#blog_attention
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape3
{
   width: 115px;
   height: 85px;
   background-image: linear-gradient(to top, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
   border: 0px #245580 solid;
   border-radius: 5px;
   box-shadow: 0px 0px 8px #000000;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.61%;
   top: 3.53%;
   width: 93.91%;
   height: 91.76%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#sett1
{
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   overflow: visible;
}
#PageHeader1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Shape1
{
   position: absolute;
   left: 153px;
   top: 435px;
   width: 135px;
   height: 92px;
   visibility: hidden;
   z-index: 33;
}
#wb_xp_error
{
   position: absolute;
   left: 243px;
   top: 448px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 39;
}
#wb_sosis
{
   position: absolute;
   left: 612px;
   top: 448px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 34;
}
#Button3
{
   display: inline-block;
   width: 96px;
   height: 25px;
   z-index: 11;
}
#Banner1
{
   position: absolute;
   left: 0px;
   top: 32px;
   width: 964px;
   height: 33px;
   z-index: 25;
}
#wb_Shape2
{
   position: absolute;
   left: 150px;
   top: 119px;
   width: 671px;
   height: 608px;
   z-index: 21;
}
#wb_blog
{
   position: absolute;
   left: 196px;
   top: 7px;
   width: 155px;
   height: 16px;
   z-index: 3;
}
#PageHeader1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 32px;
   z-index: 7777;
}
#wb_Shape3
{
   position: absolute;
   left: 366px;
   top: 448px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 44;
}
#wb_youtube_
{
   position: absolute;
   left: 489px;
   top: 349px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 32;
}
#Button2
{
   display: inline-block;
   width: 96px;
   height: 25px;
   z-index: 9;
}
#Table1
{
   position: absolute;
   left: 826px;
   top: 72px;
   width: 144px;
   height: 168px;
   z-index: 28;
   visibility: hidden;
}
#wb_update_info
{
   position: absolute;
   left: 568px;
   top: 7px;
   width: 262px;
   height: 18px;
   z-index: 5;
}
#wb_music
{
   position: absolute;
   left: 489px;
   top: 448px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 37;
}
#Button1
{
   position: absolute;
   left: 324px;
   top: 16px;
   width: 68px;
   height: 25px;
   z-index: 17;
}
#wb_logo
{
   position: absolute;
   left: 262px;
   top: 165px;
   width: 277px;
   height: 95px;
   z-index: 22;
}
#wb_Image3
{
   position: absolute;
   left: 2px;
   top: 4px;
   width: 797px;
   height: 498px;
   z-index: 19;
}
#Editbox1
{
   position: absolute;
   left: 96px;
   top: 15px;
   width: 218px;
   height: 16px;
   z-index: 18;
}
#wb_copyright
{
   position: absolute;
   left: 354px;
   top: 669px;
   width: 263px;
   height: 17px;
   text-align: center;
   z-index: 23;
}
#Line1
{
   position: absolute;
   left: 447px;
   top: 238px;
   width: 261px;
   z-index: 26;
}
#wb_pg3dspectrum
{
   position: absolute;
   left: 612px;
   top: 549px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 41;
}
#Shape2
{
   width: 671px;
   height: 608px;
}
#wb_blog1
{
   position: absolute;
   left: 196px;
   top: 0px;
   width: 144px;
   height: 32px;
   z-index: 4;
}
#wb_minerlands
{
   position: absolute;
   left: 489px;
   top: 549px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 40;
}
#wb_youtab12
{
   position: absolute;
   left: 366px;
   top: 349px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 30;
}
#wb_about
{
   position: absolute;
   left: 91px;
   top: 7px;
   width: 105px;
   height: 16px;
   z-index: 2;
}
#wb_Text11
{
   position: absolute;
   left: 36px;
   top: 301px;
   width: 406px;
   height: 43px;
   z-index: 20;
}
#wb_pg3d
{
   position: absolute;
   left: 366px;
   top: 549px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 38;
}
#wb_youtab13
{
   position: absolute;
   left: 243px;
   top: 349px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 36;
}
#wb_blog_attention
{
   position: absolute;
   left: 312px;
   top: 245px;
   width: 409px;
   height: 185px;
   visibility: hidden;
   z-index: 43;
}
#wb_sett1
{
   position: absolute;
   left: 924px;
   top: 4px;
   width: 25px;
   height: 25px;
   z-index: 6;
}
#wb_sett
{
   position: absolute;
   left: 835px;
   top: 7px;
   width: 89px;
   height: 17px;
   z-index: 0;
}
#wb_veg
{
   position: absolute;
   left: 612px;
   top: 349px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 31;
}
#wb_home
{
   position: absolute;
   left: 12px;
   top: 7px;
   width: 79px;
   height: 16px;
   z-index: 1;
}
#wb_about_text
{
   position: absolute;
   left: 553px;
   top: 195px;
   width: 147px;
   height: 31px;
   z-index: 24;
}
#wb_about-text1
{
   position: absolute;
   left: 539px;
   top: 196px;
   width: 14px;
   height: 29px;
   z-index: 27;
}
#wb_skype
{
   position: absolute;
   left: 243px;
   top: 549px;
   width: 115px;
   height: 85px;
   opacity: 0.70;
   z-index: 35;
}
#wb_search
{
   position: absolute;
   left: 244px;
   top: 260px;
   width: 485px;
   height: 52px;
   z-index: 29;
}
@media only screen
{
div#container
{
   width: 1366px;
}
body
{
   background-color: #FFFFFF;
   background-image: url('../images/737607.jpg');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
#PageHeader1
{
   top: 0px;
   height: 32px;
   visibility: visible;
}
#PageHeader1
{
   width: 100%;
}
#PageHeader1_Container
{
   width: 1366px;
}
#wb_Shape2
{
   left: 348px;
   top: 119px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_logo
{
   left: 460px;
   top: 165px;
   width: 277px;
   height: 95px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_copyright
{
   left: 552px;
   top: 669px;
   width: 263px;
   height: 17px;
   visibility: visible;
   display: inline;
}
#wb_copyright
{
   margin: 0;
   padding: 0;
}
#wb_about_text
{
   left: 751px;
   top: 195px;
   width: 147px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_about_text
{
   margin: 0;
   padding: 0;
}
#wb_sett1
{
   left: 1326px;
   top: 3px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Banner1
{
   left: 0px;
   top: 32px;
   width: 1360px;
   height: 33px;
   visibility: visible;
   display: block;
   margin: 0;
}
#Banner1 span
{
   height: 16px;
   margin: 5px 0 5px 15px;
}
#Line1
{
   left: 645px;
   top: 238px;
   width: 261px;
   height: 2px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #1342EA;
   border-bottom-width: 2px;
}
#wb_about-text1
{
   left: 737px;
   top: 196px;
   width: 14px;
   height: 29px;
   visibility: visible;
   display: inline;
}
#wb_about-text1
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#Button2
{
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Table1
{
   left: 1222px;
   top: 72px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_search
{
   left: 442px;
   top: 260px;
   width: 485px;
   height: 52px;
   visibility: visible;
   display: inline;
}
#Editbox1
{
   left: 96px;
   top: 15px;
   width: 218px;
   height: 16px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox1
{
   line-height: 16px;
}
#wb_youtab12
{
   left: 564px;
   top: 349px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#youtab12
{
   width: 115px;
   height: 85px;
}
#wb_veg
{
   left: 810px;
   top: 349px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#veg
{
   width: 115px;
   height: 85px;
}
#wb_youtube_
{
   left: 687px;
   top: 349px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#youtube_
{
   width: 115px;
   height: 85px;
}
#Button1
{
   left: 324px;
   top: 16px;
   width: 68px;
   height: 25px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button3
{
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_update_info
{
   left: 970px;
   top: 6px;
   width: 262px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Shape1
{
   left: 153px;
   top: 435px;
   width: 135px;
   height: 92px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape1
{
   width: 135px;
   height: 92px;
}
#wb_sosis
{
   left: 810px;
   top: 448px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#sosis
{
   width: 115px;
   height: 85px;
}
#wb_skype
{
   left: 441px;
   top: 549px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#skype
{
   width: 115px;
   height: 85px;
}
#wb_youtab13
{
   left: 441px;
   top: 349px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#youtab13
{
   width: 115px;
   height: 85px;
}
#wb_music
{
   left: 687px;
   top: 448px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#music
{
   width: 115px;
   height: 85px;
}
#wb_blog
{
   left: 196px;
   top: 7px;
   width: 155px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_blog
{
   margin: 0;
   padding: 0;
}
#wb_pg3d
{
   left: 564px;
   top: 549px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#pg3d
{
   width: 115px;
   height: 85px;
}
#wb_sett
{
   left: 1237px;
   top: 6px;
   width: 89px;
   height: 17px;
   visibility: visible;
   display: inline;
}
#wb_sett
{
   margin: 0;
   padding: 0;
}
#wb_home
{
   left: 12px;
   top: 7px;
   width: 79px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_home
{
   margin: 0;
   padding: 0;
}
#wb_about
{
   left: 91px;
   top: 7px;
   width: 105px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_about
{
   margin: 0;
   padding: 0;
}
#wb_xp_error
{
   left: 441px;
   top: 448px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#xp_error
{
   width: 115px;
   height: 85px;
}
#wb_minerlands
{
   left: 687px;
   top: 549px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#minerlands
{
   width: 115px;
   height: 85px;
}
#wb_pg3dspectrum
{
   left: 810px;
   top: 549px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#pg3dspectrum
{
   width: 115px;
   height: 85px;
}
#merry_christmas .modal-dialog
{
   width: 802px;
}
#merry_christmas .modal-body
{
   width: 802px;
   height: 508px;
}
#merry_christmas
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#wb_Image3
{
   left: 2px;
   top: 4px;
   width: 797px;
   height: 498px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text11
{
   left: 36px;
   top: 301px;
   width: 406px;
   height: 43px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   margin: 0;
   padding: 0;
}
#wb_blog1
{
   left: 196px;
   top: 0px;
   width: 144px;
   height: 32px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_blog_attention
{
   left: 312px;
   top: 245px;
   width: 409px;
   height: 185px;
   visibility: hidden;
   display: none;
   margin: 0;
   padding: 0;
}
#wb_Shape3
{
   left: 564px;
   top: 448px;
   width: 115px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape3
{
   width: 115px;
   height: 85px;
}
}
