div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#SKYLIB_HEADER
{
   background-color: #00AFF0;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_TUT_RAINBOWVIKA
{
   vertical-align: top;
}
#TUT_RAINBOWVIKA
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_HEADER_IFRAME
{
   box-sizing: border-box;
   border: 1px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#wb_Image17
{
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_FOOTER_IFRAME
{
   box-sizing: border-box;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 20px 0 20px;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 20px 0 20px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Shape5
{
   width: 970px;
   height: 66px;
   background-color: transparent;
   background-image: none;
   border: 0px #0963AD solid;
}
#Shape5_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 2.16%;
   top: 1.52%;
   width: 95.67%;
   height: 96.97%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 20px 0 20px;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 20px 0 20px;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#SKYLIB_DL_84
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer6
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Line5
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#PhotoGallery5
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery5 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery5 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 50%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery5 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   transition: all 600ms linear;
}
#PhotoGallery5 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery5 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery5 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery5 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery5 .clearfix:before,
#PhotoGallery5 .clearfix:after,
#PhotoGallery5 .thumbnails:before,
#PhotoGallery5 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery5 .clearfix:after,
#PhotoGallery5 .thumbnails:after
{
   clear: both;
}
#PhotoGallery5 .visible-col2
{
   display: block;
}
#Shape6
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape6:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape6_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Layer2
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Line1
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#PhotoGallery2
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery2 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery2 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 50%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery2 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   transition: all 600ms linear;
}
#PhotoGallery2 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery2 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery2 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery2 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery2 .clearfix:before,
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:before,
#PhotoGallery2 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:after
{
   clear: both;
}
#PhotoGallery2 .visible-col2
{
   display: block;
}
#Shape1
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape1:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Layer1
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#Line2
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 100%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery1 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   transition: all 600ms linear;
}
#PhotoGallery1 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery1 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery1 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col1
{
   display: block;
}
#Shape2
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape2:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape2_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Image14
{
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_DL_811
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_DL_849
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_DL_AND_748
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image19
{
   vertical-align: top;
}
#Image19
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer4
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Image18
{
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#Line3
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#PhotoGallery3
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery3 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery3 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   transition: all 600ms linear;
}
#PhotoGallery3 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery3 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery3 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery3 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery3 .clearfix:before,
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:before,
#PhotoGallery3 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:after
{
   clear: both;
}
#PhotoGallery3 .visible-col3
{
   display: block;
}
#Shape3
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape3:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#SKYLIB_DL_AND_872
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image20
{
   vertical-align: top;
}
#Image20
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer5
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Image21
{
   vertical-align: top;
}
#Image21
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#Line4
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#PhotoGallery4
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery4 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery4 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery4 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   transition: all 600ms linear;
}
#PhotoGallery4 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery4 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery4 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery4 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery4 .clearfix:before,
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:before,
#PhotoGallery4 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:after
{
   clear: both;
}
#PhotoGallery4 .visible-col3
{
   display: block;
}
#Shape4
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape4:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#SKYLIB_ABOUT_BACK1
{
   width: 230px;
   height: 479px;
   background-color: #F0F4F8;
   background-image: none;
   border: 0px #DDDDDD solid;
}
#SKYLIB_ABOUT_BACK1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.43%;
   top: 0.21%;
   width: 99.13%;
   height: 99.58%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#SKYLIB_ABOUT_CONTROLLER
{
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#SKYLIB_KONALOBOSTUDIO
{
   background-color: #C7ECFC;
   background-image: none;
   border-radius: 0px;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_SKYLIB_THANKS 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_SKYLIB_THANKS div
{
   text-align: left;
}
#SKYLIB_THANKUSER1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#SKYLIB_THANKUSER2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#SKYLIB_THANKUSER3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#SKYLIB_THANKUSER4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image23
{
   vertical-align: top;
}
#Image23
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#SKYLIB_PLAYER
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
}
#wb_SKYLIB_PLAYER
{
   --plyr-color-main: #00B3FF;
}
#MediaPlayer1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_DL_AND_188
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image24
{
   vertical-align: top;
}
#Image24
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer8
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Image25
{
   vertical-align: top;
}
#Image25
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#HorizontalLine1
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#PhotoGallery6
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery6 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery6 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 25%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery6 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   transition: all 600ms linear;
}
#PhotoGallery6 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery6 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery6 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery6 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery6 .clearfix:before,
#PhotoGallery6 .clearfix:after,
#PhotoGallery6 .thumbnails:before,
#PhotoGallery6 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery6 .clearfix:after,
#PhotoGallery6 .thumbnails:after
{
   clear: both;
}
#PhotoGallery6 .visible-col4
{
   display: block;
}
#Shape7
{
   top: 0px;
   width: 359px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape7:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape7_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 5.29%;
   top: 30.65%;
   width: 89.14%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#SKYLIB_ABOUT
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#SKYLIB_ABOUT .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #DDDDDD;
   border-radius: 5px;
   overflow: visible;
   pointer-events: all;
}
#SKYLIB_ABOUT.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#SKYLIB_ABOUT .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#SKYLIB_ABOUT .modal-open
{
   overflow: hidden;
}
#SKYLIB_ABOUT .modal-dialog
{
   position: relative;
   width: 754px;
   margin-left: auto;
   margin-right: auto;
}
#SKYLIB_ABOUT .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#SKYLIB_ABOUT .modal-header
{
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding: 10px 10px 10px 10px;
   background-color: #00AFF0;
   border-bottom: 1px solid #DDDDDD;
}
#SKYLIB_ABOUT .modal-footer
{
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #DDDDDD;
}
#SKYLIB_ABOUT .modal-body
{
   position: relative;
   width: 754px;
   height: 484px;
}
#SKYLIB_ABOUT .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#SKYLIB_ABOUT .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#SKYLIB_ABOUT .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#SKYLIB_ABOUT .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: center;
   margin: 0;
}
#Button1
{
   box-sizing: border-box;
   line-height: 20px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #006400;
   border-radius: 15px;
   background-image: linear-gradient(to top, #B4E391 0%, #61C419 50%, #B4E391 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#SKYLIB_FOOTER
{
   background-image: linear-gradient(to bottom, #0094CB 0%, #0094CB 78%, #FFFFFF 79%, #FFFFFF 100%);
   border-radius: 0px;
   box-sizing: border-box;
}
