body {
  background-image: url(/tech/back_alt.jpg);
  background-attachment: fixed;
}
#magixa_body {
  height: max-content;
  align-items: normal;
  display: flex;
  flex-direction: column;
}
.vg_pages_header {
  height: 100px;
  background: #fff0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.vg_pages_header_sm {
  background: #fff0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px 0;
}
.wel {
  max-height: 60px;
  font-family: "Rotonda Regular";
  font-weight: bold;
  text-align: center;
  width: 80%;
  max-width: 1100px;
  font-size: 56px;
  color: #ffffff;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
}
.wel2 {
  font-family: "Rotonda Regular";
  font-weight: bold;
  text-align: center;
  width: 80%;
  max-width: 1100px;
  font-size: 28px;
  color: #ffffff;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
}
.upper_panel_bg {
  position: relative;
}
.begn_arch {
  background: #fff0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ul_veg {
  max-width: 1400px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  width: 80%;
  justify-content: center;
}
.veg_name {
  font-family: "Rotonda Regular";
  font-weight: bold;
  max-width: 1100px;
  font-size: 22px;
  color: #ffffff;
  margin: 0 0 5px 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  text-shadow: 1px 1px 2px black;
}
.veg_desc {
  font-family: "Rotonda Regular";
  max-width: 1100px;
  font-size: 15px;
  color: #ffffff;
  margin: 2px 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  text-shadow: 1px 1px 2px black;
}
.li_veg-l {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 385px;
}
.li_veg-r {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.li_veg {
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.425), 0 3px 6px rgba(0, 0, 0, 0.425);
  background: linear-gradient(#ffffff59, #bdbdbd4d);
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 550px;
  display: flex;
  justify-content: space-between;
}

/* UP */

.up_ul {
  font-family: "Rotonda Regular";
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}
.up_li {
  margin-right: 20px;
}
.up_panel_link_btn,
.up_panel_link_btn:visited {
  transition: all 0.3s ease-in-out;
  color: rgb(70, 205, 255);
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
.up_panel_link_btn:hover {
  transform: scale(1.1);
  color: orange;
  text-decoration: none;
}


/* MAGIXA */

.vg_pages_magixa_header_sm {
  background-position: center;
  background-image: url(/sec/VEG/images/flp_giveaway.png);
  min-height: 300px;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}
.magixa_begn_arch {
  background: #fff0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.magixa_ul_veg {
  margin: 0px;
  max-width: 1400px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  width: 700px;
  justify-content: center;
}
.magixa_li_veg-l {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 500px;
}
.magixa_li_veg {
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.425), 0 3px 6px rgba(0, 0, 0, 0.425);
  background: linear-gradient(#ffffff59, #bdbdbd4d);
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.magixa_li_hed1 {
  font-family: "Rotonda Regular";
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  margin: 0 0 5px 0;
  padding: 0;
  text-shadow: 1px 1px 2px black;
  width: 100%;
  text-align: center;
}