div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #0B3467;
   background-image: url('images/pg3dcollectbanner111.png');
   background-attachment: fixed;
   background-position: center top;
   background-repeat: no-repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#wb_Shape1
{
   transform: rotate(0deg) scale(1.0, -1.0);
   transform-origin: 50% 50%;
}
#Shape1_text
{
   transform: scale(1.0, -1.0);
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 5%;
   width: 98.62%;
   height: 88%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#InlineFrame1
{
   border: 3px solid #004EC0;
   border-radius: 0px;
   margin: 0;
   box-shadow: 0px 7px 10px #000000;
}
#Button1
{
   box-sizing: border-box;
   line-height: 38px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #DAA520;
   border-radius: 5px;
   background-image: linear-gradient(to top, #FF6600 0%, #FFFF00 100%);
   color: #000000;
   font-family: "Russo One";
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2
{
   box-sizing: border-box;
   line-height: 38px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #DAA520;
   border-radius: 5px;
   background-image: linear-gradient(to top, #FF6600 0%, #FFFF00 100%);
   color: #000000;
   font-family: "Russo One";
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3
{
   box-sizing: border-box;
   line-height: 38px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #DAA520;
   border-radius: 5px;
   background-image: linear-gradient(to top, #FF6600 0%, #FFFF00 100%);
   color: #000000;
   font-family: "Russo One";
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4
{
   box-sizing: border-box;
   line-height: 38px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #DAA520;
   border-radius: 5px;
   background-image: linear-gradient(to top, #FF6600 0%, #FFFF00 100%);
   color: #000000;
   font-family: "Russo One";
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_ClipArt1 a svg
{
   position: absolute;
   left: 0;
}
#wb_ClipArt1 a .hover
{
   visibility: hidden;
}
#wb_ClipArt1 a:hover .hover
{
   visibility: visible;
}
#wb_ClipArt1 a:hover .default
{
   visibility: hidden;
}
#cusmenu ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#cusmenu ul.navbar li
{
   height: 25px;
   width: 154px;
   margin: 0 0 0px 0;
   vertical-align: bottom;
}
#cusmenu ul.navbar li a
{
   display: block;
   position: relative;
}
#cusmenu ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#cusmenu ul.navbar li span
{
   display: block;
   height: 25px;
   width: 154px;
   position: absolute;
   z-index: 2;
}
#cusmenu a .hover
{
   visibility: hidden;
}
#cusmenu a:hover .hover
{
   visibility: visible;
}
#cusmenu a:hover span
{
   visibility: hidden;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image18
{
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image23
{
   vertical-align: top;
}
#Image23
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image24
{
   vertical-align: top;
}
#Image24
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image26
{
   vertical-align: top;
}
#Image26
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image27
{
   vertical-align: top;
}
#Image27
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading10
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
}
#Button5
{
   box-sizing: border-box;
   line-height: 41px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-image: linear-gradient(to top, #3B679E 0%, #2B88D9 50%, #207CCA 51%, #7DB9E8 100%);
   color: #FFFFFF;
   font-family: Play;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button6
{
   box-sizing: border-box;
   line-height: 41px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-image: linear-gradient(to top, #3B679E 0%, #2B88D9 50%, #207CCA 51%, #7DB9E8 100%);
   color: #FFFFFF;
   font-family: Play;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button7
{
   border: 1px solid #CD853F;
   border-radius: 4px;
   background-image: linear-gradient(to top, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
   color: #000000;
   font-family: Play;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button8
{
   box-sizing: border-box;
   line-height: 38px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #DAA520;
   border-radius: 5px;
   background-image: linear-gradient(to top, #FF6600 0%, #FFFF00 100%);
   color: #000000;
   font-family: "Russo One";
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: left;
}
#pg3dcollect_prew
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#pg3dcollect_prew .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#pg3dcollect_prew.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#pg3dcollect_prew .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#pg3dcollect_prew .modal-open
{
   overflow: hidden;
}
#pg3dcollect_prew .modal-dialog
{
   position: relative;
   width: 534px;
   margin-left: auto;
   margin-right: auto;
}
#pg3dcollect_prew .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#pg3dcollect_prew .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #00A9FE;
   border-bottom: 1px solid #1E90FF;
}
#pg3dcollect_prew .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #1E90FF;
}
#pg3dcollect_prew .modal-body
{
   position: relative;
   width: 534px;
   height: 399px;
}
#pg3dcollect_prew .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   margin-right: -9px;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   -webkit-transition: opacity .15s linear;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5;
}
.modal-open
{
   overflow: hidden;
}
#pg3dcollect_prew .modal-header
{
   cursor: move;
}
#pg3dcollect_prew .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#pg3dcollect_prew .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#pg3dcollect_prew .modal-title
{
   color: #FFFFFF;
   font-family: Play;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   margin: 0;
}
#PageFooter1
{
   background-image: linear-gradient(to top, #002980 0%, rgba(0,41,128,0.75) 40%, rgba(255,255,255,0.00) 100%);
   border-radius: 0px;
   box-sizing: border-box;
}
