body,
html {
  background-color: black;
  overflow: hidden;
  position: sticky;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  top: 0;
  min-width: 700px;
  cursor: url("./tech/curs/blue_normal.cur"), pointer;
}
#magixa_body {
  border-radius: 5px;
  height: inherit;
  background-image: url(./tech/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.panel_left_body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: left;
  justify-content: left;
  max-width: 10%;
  padding-left: 15px;
}
.panel_left {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  width: 70px;
  background: linear-gradient(#888888cc, #222222cc);
  border-radius: 7px;
  backdrop-filter: blur(5px);
}
.panel_center_body {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.panel_center {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 550px;
  background: linear-gradient(#888888cc, #222222cc);
  border-radius: 7px;
  backdrop-filter: blur(5px);
}
.in_panel {
  padding: 0 0.5em 0 0.5em;
}
.in_panel_center {
  padding: 0 1em 0 1em;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.btn_zone {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.magixa {
  width: 620px;
  position: fixed;
  bottom: -20px;
  right: 20px;
  max-width: 600px;
}
.kswrld_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  object-fit: cover;
  height: 250px;
}
.copy {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: small;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
}
.bt11 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  margin: 0px !important;
}
#sep {
  border-top: 1px solid #636363;
  margin-top: 5px;
  margin-bottom: 5px;
}
.home_links {
  color: #0078ca;
  cursor: url("./tech/curs/blue_alt.cur"), pointer !important;
}
.home_links2 {
  margin-left: 5px;
  color: #0078ca;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  cursor: url("./tech/curs/blue_alt.cur"), pointer !important;
}
#ver_sep {
  border-right: 1px solid #636363;
  margin-left: 5px;
  margin-right: 5px;
}
