body {
  background-image: url(/tech/back.jpg);
}
#magixa_body {
  cursor: url("/tech/curs/blue_normal.cur"), pointer !important;
  backdrop-filter: blur(5px);
}
.panel_left_body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 10%;
  padding-left: 15px;
}
.panel_left {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.425), 0 3px 6px rgba(0, 0, 0, 0.425);
  width: 70px;
  background: linear-gradient(#88888888, #22222288);
  border-radius: 7px;
  backdrop-filter: blur(5px);
}
.panel_center_body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.panel_center {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.425), 0 3px 6px rgba(0, 0, 0, 0.425);
  width: 550px;
  background: linear-gradient(#88888888, #22222288);
  border-radius: 7px;
  backdrop-filter: blur(5px);
}
.in_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.in_panel_center {
  padding: 0 1em 0 1em;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.btn_zone {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.magixa {
  width: 620px;
  position: fixed;
  bottom: -20px;
  right: 20px;
  max-width: 600px;
}
.kswrld_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  object-fit: cover;
  height: 250px;
}
.copy,
.home_links2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: small;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  cursor: url("./tech/curs/blue_alt.cur"), pointer !important;
}
.bt11 {
  text-align: center;
  font-family: "Rotonda Regular";
  font-size: 14px;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  margin: 0px !important;
  cursor: url("./tech/curs/blue_alt.cur"), pointer !important;
}
#sep {
  border-top: 1px solid #636363;
  margin-top: 5px;
  margin-bottom: 5px;
}
.home_links {
  color: #0078ca;
  cursor: url("./tech/curs/blue_alt.cur"), pointer !important;
}

#ver_sep {
  border-right: 1px solid #636363;
  margin-left: 5px;
  margin-right: 5px;
}
.under_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
