div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url('http://s.ytimg.com/yt/img/refresh/body_noise-vfl_60-qt.png');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #4F4F4F;
   text-decoration: underline;
}
a:visited
{
   color: #3B3B3B;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #1C62B9;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#theme_of_channel
{
   border-width: 0;
   vertical-align: top;
}
#account_info
{
   border-width: 0;
   vertical-align: top;
}
#spotlight_panel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#main_panel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#guide_fast_buttons
{
   background-color: #272727;
   background-image: none;
   border-radius: 0px;
}
#Layer5
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer6
{
   background-image: linear-gradient(to top, #262626 0%, #2F2F2F 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer7
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer8
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer9
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer10
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer11
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer12
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#Layer13
{
   background-image: linear-gradient(to top, #1B1B1B 0%, #323232 100%);
   border: 1px solid #2D2D2D;
   border-radius: 0px;
}
#video1
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
}
#guide_panel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Form1
{
   background-color: #FBFBFB;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#spotlight_video_panel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#ClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#ClipArt2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(0px 0px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#Layer2
{
   background-image: linear-gradient(to top, #D3D3D3 0%, #F5F5F5 100%);
   border: 1px solid #A9A9A9;
   border-radius: 0px;
}
#Button1
{
   box-sizing: border-box;
   line-height: 152px;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #2E6DA4;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#video2
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#Button2
{
   box-sizing: border-box;
   line-height: 152px;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #2E6DA4;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Layer3
{
   background-image: linear-gradient(to bottom, #F5F5F5 0%, #D3D3D3 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.60);
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 4px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button3
{
   border: 0px solid #2E6DA4;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text19 div
{
   text-align: right;
}
#PageFooter1
{
   background-color: rgba(169,169,169,0.29);
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
