div#container
{
   width: 1283px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #CCCCCC;
   box-sizing: border-box;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button1
{
   border: 1px solid #C0C0C0;
   border-radius: 1px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Editbox1
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button2
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Shape3
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #A59D16 0%, #B9AC1C 100%);
   border: 0px #245580 solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape4
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape7
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape7_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape10
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape10_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape11
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape11_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape14
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape14_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape16
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape16_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape18
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape18_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape20
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape20_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape12
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #444444 0%, #4F4F4F 100%);
   border: 0px #245580 solid;
}
#Shape12_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Line1
{
   border-color: #DDDDDD;
   border-style: solid;
   border-bottom-width: 828px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Shape1
{
   width: 1283px;
   height: 40px;
   background-image: linear-gradient(to top, #535353 0%, #696969 100%);
   border: 0px #245580 solid;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.08%;
   top: 2.5%;
   width: 99.84%;
   height: 95%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Combobox1
{
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FBFBFB;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox2
{
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FBFBFB;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox3
{
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FBFBFB;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Line6
{
   border-color: #DDDDDD;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#Shape5
{
   top: 0px;
   width: 119px;
   height: 38px;
   background-color: #4F4F4F;
   background-image: none;
   border: 1px #555555 solid;
}
#Shape5:hover
{
   background-color: #343434;
   background-image: none;
   border: 1px #245580 solid;
}
#Shape5_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.84%;
   top: 2.63%;
   width: 98.32%;
   height: 94.74%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape2
{
   top: 0px;
   width: 94px;
   height: 38px;
   background-color: #4F4F4F;
   background-image: none;
   border: 1px #555555 solid;
}
#Shape2:hover
{
   background-color: #343434;
   background-image: none;
   border: 1px #245580 solid;
}
#Shape2_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 1.06%;
   top: 2.63%;
   width: 97.87%;
   height: 94.74%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape6
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #343434 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape6_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#PageFooter2
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #CCCCCC;
   box-sizing: border-box;
   border-radius: 0px;
   box-sizing: border-box;
}
