div#container
{
   width: 1000px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   width: 1000px;
   height: 62px;
   background-image: linear-gradient(to top, #F0F0F0 0%, #E4E4E4 50%, #D4D4D4 51%, rgba(253,253,253,0.99) 100%);
   border: 0px #245580 solid;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape7
{
   width: 250px;
   height: 55px;
   background-image: linear-gradient(to top, #F0F0F0 0%, #E4E4E4 50%, #D4D4D4 51%, rgba(253,253,253,0.99) 100%);
   border: 0px #D3D3D3 solid;
}
#Shape7_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.4%;
   top: 1.82%;
   width: 99.2%;
   height: 96.36%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Table1
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
   position: relative;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 230px;
   height: 226px;
}
#Table1 .cell1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 230px;
   height: 34px;
   color: #000000;
   font-family: "Arial CYR";
   line-height: 16px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 230px;
   height: 34px;
   color: #000000;
   font-family: "Arial CYR";
   line-height: 16px;
}
#Table1 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 230px;
   height: 16px;
   color: #000000;
   font-family: "Arial CYR";
   line-height: 16px;
}
#Table1 .cell4
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: center;
   vertical-align: top;
   width: 230px;
   height: 34px;
   color: #000000;
   font-family: "Arial CYR";
   line-height: 16px;
}
#Table1 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 230px;
   height: 32px;
   color: #000000;
   font-family: "Arial CYR";
   line-height: 16px;
}
#Table1 tr:nth-child(odd)
{
   background-color: #F2F2F2;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: %;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery1 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery1 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery1 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col3
{
   display: none;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#Shape6
{
   width: 123px;
   height: 53px;
   background-image: linear-gradient(to top, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%);
   border: 1px #D3D3D3 solid;
}
#Shape6_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.81%;
   top: 1.89%;
   width: 98.37%;
   height: 96.23%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape3
{
   width: 123px;
   height: 53px;
   background-image: linear-gradient(to top, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%);
   border: 1px #D3D3D3 solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.81%;
   top: 1.89%;
   width: 98.37%;
   height: 96.23%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape4
{
   width: 123px;
   height: 53px;
   background-image: linear-gradient(to top, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%);
   border: 1px #D3D3D3 solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.81%;
   top: 1.89%;
   width: 98.37%;
   height: 96.23%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape5
{
   width: 123px;
   height: 53px;
   background-image: linear-gradient(to top, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%);
   border: 1px #D3D3D3 solid;
}
#Shape5_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.81%;
   top: 1.89%;
   width: 98.37%;
   height: 96.23%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#PageFooter1
{
   background-image: linear-gradient(to top, #805000 0%, #C47300 100%);
   border-radius: 0px;
   box-sizing: border-box;
}
