div#container
{
   width: 978px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: #F5F5F5;
   background-image: none;
   border-radius: 0px;
   box-shadow: 0px 5px 10px rgba(0,0,0,0.20);
   box-sizing: border-box;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.60);
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_search
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 2px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 1px solid #0C35D6;
   border-radius: 1px;
   background-image: linear-gradient(to top, #205BFA 0%, #3069F5 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#account_pole
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_avatar
{
   vertical-align: top;
}
#avatar
{
   border: 1px solid #AAAAAA;
   border-radius: 2px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_accounts 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_accounts div
{
   text-align: left;
}
#wb_accounts_button
{
   vertical-align: top;
}
#accounts_button
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_lang_text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_lang_text div
{
   text-align: center;
}
#ClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Table1
{
   border: 1px solid #BFBFBF;
   border-radius: 0px;
   background-color: #FBFBFB;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: left;
   vertical-align: top;
   width: 120px;
   height: 32px;
   font-size: 0;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 170px;
   height: 32px;
   color: #000000;
   font-family: "Trebuchet MS";
   font-size: 20px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 152px;
   height: 32px;
   color: #000000;
   font-family: "Trebuchet MS";
   font-size: 20px;
}
#Table1 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: left;
   vertical-align: middle;
   width: 482px;
   height: 32px;
   color: #000000;
   font-family: "Comic Sans MS";
   font-size: 13px;
}
#Table1 .cell4
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: left;
   vertical-align: top;
   height: 32px;
   font-size: 0;
}
#Table1 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 120px;
   height: 38px;
   font-size: 0;
}
#Table1 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 170px;
   height: 38px;
   color: #000000;
   font-family: "Trebuchet MS";
   font-size: 20px;
}
#Table1 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 152px;
   height: 38px;
   color: #000000;
   font-family: "Trebuchet MS";
   font-size: 20px;
}
#Table1 .cell8
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: left;
   vertical-align: middle;
   width: 482px;
   height: 38px;
   color: #000000;
   font-family: "Comic Sans MS";
   font-size: 13px;
}
#Table1 .cell9
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   height: 38px;
   font-size: 0;
}
#Table1 .cell10
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: left;
   vertical-align: middle;
   width: 120px;
   height: 38px;
   font-size: 0;
}
#Table1 .cell11
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: left;
   vertical-align: top;
   width: 482px;
   height: 38px;
   color: #000000;
   font-family: "Comic Sans MS";
   font-size: 13px;
}
#Table1 .cell12
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: left;
   vertical-align: top;
   width: 120px;
   height: 38px;
   font-size: 0;
}
#Table1 tr:nth-child(odd)
{
   background-color: #F2F2F2;
}
#Table1 tr:hover
{
   background-color: #87CEFA;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image10
{
   margin: 0;
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image12
{
   margin: 0;
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image13
{
   margin: 0;
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image14
{
   margin: 0;
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image15
{
   margin: 0;
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image16
{
   margin: 0;
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image17
{
   margin: 0;
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text15 div
{
   text-align: center;
}
#PageFooter1
{
   background-color: #F5F5F5;
   background-image: none;
   border-radius: 0px;
   box-shadow: 0px -5px 10px rgba(0,0,0,0.20);
   box-sizing: border-box;
}
