body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Button13
{
   box-sizing: border-box;
   line-height: 31px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #87CEFA;
   border-radius: 15px;
   background-image: linear-gradient(to top, #EBF1F6 0%, #ABD3EE 50%, #89C3EB 51%, #D5EBFB 100%);
   color: #3B568A;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button13:focus
{
   outline: 0;
}
#Button14
{
   box-sizing: border-box;
   line-height: 20px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #006400;
   border-radius: 15px;
   background-image: linear-gradient(to top, #B4E391 0%, #61C419 50%, #B4E391 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button14:focus
{
   outline: 0;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape2 a canvas
{
   position: absolute;
   left: 0;
}
#wb_Shape2 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape2 a .hover
{
   visibility: hidden;
}
#wb_Shape2 a:hover .hover
{
   visibility: visible;
}
#wb_Shape2 a:hover .default
{
   visibility: hidden;
}
#Shape2_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 9.15%;
   top: 24.53%;
   width: 80.99%;
   height: 49.06%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Shape4 a canvas
{
   position: absolute;
   left: 0;
}
#wb_Shape4 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape4 a .hover
{
   visibility: hidden;
}
#wb_Shape4 a:hover .hover
{
   visibility: visible;
}
#wb_Shape4 a:hover .default
{
   visibility: hidden;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 7.74%;
   top: 24.53%;
   width: 83.93%;
   height: 49.06%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Shape5 a canvas
{
   position: absolute;
   left: 0;
}
#wb_Shape5 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape5 a .hover
{
   visibility: hidden;
}
#wb_Shape5 a:hover .hover
{
   visibility: visible;
}
#wb_Shape5 a:hover .default
{
   visibility: hidden;
}
#Shape5_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 10.16%;
   top: 24.53%;
   width: 78.91%;
   height: 49.06%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Shape1 a canvas
{
   position: absolute;
   left: 0;
}
#wb_Shape1 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape1 a .hover
{
   visibility: hidden;
}
#wb_Shape1 a:hover .hover
{
   visibility: visible;
}
#wb_Shape1 a:hover .default
{
   visibility: hidden;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 14.13%;
   top: 24.53%;
   width: 70.65%;
   height: 49.06%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
