div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #00489F;
   text-decoration: underline;
}
a:active
{
   color: #0064DD;
}
a:hover
{
   color: #0064DD;
   text-decoration: underline;
}
#SKYLIB3_HEADER
{
   background-image: linear-gradient(to bottom, #FFFFFF 0%, #F8F8F8 34%, #E1E1E1 34%, #F6F6F6 70%, #E5F7FD 70%, #E5F7FD 100%);
   border-radius: 0px;
   box-sizing: border-box;
}
#SKYLIB3_HEADER
{
   transition: top 150ms linear 0ms;
}
#SKYLIB3_HEADER.scroll-up
{
   top: -115px !important;
}
#wb_SEP10
{
   vertical-align: top;
}
#SEP10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP11
{
   vertical-align: top;
}
#SEP11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP2
{
   vertical-align: top;
}
#SEP2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP1
{
   vertical-align: top;
}
#SEP1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP4
{
   vertical-align: top;
}
#SEP4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP5
{
   vertical-align: top;
}
#SEP5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_HEADER_IF
{
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#ARCHIVE
{
   background-color: #00ACEF;
   background-image: url('images/header-bg-devzone.png');
   background-repeat: no-repeat;
   background-position: center bottom;
   border-radius: 0px;
}
#wb_ARCHIVE_TEXT 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 25px;
   margin: 0;
   text-align: left;
}
#wb_ARCHIVE_TEXT div
{
   text-align: left;
}
#INFO
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_INFO_TEXT 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 25px;
   margin: 0;
   text-align: left;
}
#wb_INFO_TEXT div
{
   text-align: left;
}
#Layer1
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image17
{
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image18
{
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer17
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Layer12
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Layer18
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#Layer2
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer14
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer19
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer3
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer4
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer15
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer5
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer6
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer7
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer8
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer9
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer10
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 7px;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_FOOTER_IF
{
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#Shape16
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape16:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape16_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape1
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape1:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape2
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape2:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape2_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape3
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape3:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape4
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape4:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape17
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape17:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape17_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape7
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape7:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape7_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape6
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape6:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape6_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape8
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape8:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape8_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape10
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape10:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape10_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape9
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape9:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape9_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape11
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape11:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape11_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape13
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape13:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape13_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape14
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape14:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape14_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape12
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape12:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape12_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape15
{
   top: 0px;
   width: 163px;
   height: 54px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape15:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape15_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.61%;
   top: 1.85%;
   width: 98.16%;
   height: 94.44%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#ARCHIVE_BUT_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 2.28%;
   top: 2.5%;
   width: 97.5%;
   height: 92.5%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Layer11
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#SKYLIB_FOOTER
{
   background-color: #00AFF0;
   background-image: url('images/getskype.jpg');
   background-repeat: no-repeat;
   background-position: center bottom;
   border-radius: 0px;
   box-sizing: border-box;
}
