div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#SKYLIB_HEADER
{
   background-color: #00AFF0;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#Layer4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#SKYLIB_ABOUT_BACK1
{
   width: 230px;
   height: 479px;
   background-color: #F0F4F8;
   background-image: none;
   border: 0px #DDDDDD solid;
}
#SKYLIB_ABOUT_BACK1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.43%;
   top: 0.21%;
   width: 99.13%;
   height: 99.58%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#SKYLIB_HEADER_IFRAME
{
   box-sizing: border-box;
   border: 1px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#SKYLIB_KONALOBOSTUDIO
{
   background-color: #C7ECFC;
   background-image: none;
   border-radius: 0px;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_SKYLIB_THANKS 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_SKYLIB_THANKS div
{
   text-align: left;
}
#SKYLIB_THANKUSER1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#SKYLIB_THANKUSER2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#SKYLIB_THANKUSER3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#SKYLIB_THANKUSER4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_FOOTER_IFRAME
{
   box-sizing: border-box;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   margin: 0;
}
#Button1
{
   box-sizing: border-box;
   line-height: 20px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #006400;
   border-radius: 15px;
   background-image: linear-gradient(to top, #B4E391 0%, #61C419 50%, #B4E391 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Layer1
{
   background-color: #F0F4F8;
   background-image: none;
   border-radius: 5px;
}
#Tabs1.ui-widget
{
   font-size: 1em !important;
}
#Tabs1
{
   background-color: #00AFF0;
   background-image: none;
   border: 1px solid #DDDDDD;
   padding: 4px 249px 4px 8px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.0;
   padding: 4px 4px 0 4px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav li
{
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#Tabs1 .ui-tabs-nav li a
{
   padding: 8px 0 8px 0;
}
#Tabs1 .ui-tabs-nav
{
   position: absolute;
   right: 4px;
   top: 4px;
   width: 237px;
   height: 325px;
   padding: 4px 4px 0 0;
}
#Tabs1 .ui-tabs-nav li
{
   right: 1px; 
   width: 100%;
   border-bottom-width: 1px !important;
   border-radius: 0 10px 10px 0;
   overflow: hidden;
}
#Tabs1 .ui-tabs-nav li.ui-tabs-selected, #Tabs1 .ui-tabs-nav li.ui-state-active
{
   left: -1px;
   border-left: 1px solid transparent;
}
#Tabs1 .ui-tabs-nav li a
{
   width: 100%;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-top
{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}
#Tabs1 .ui-helper-reset
{
   line-height: 19px;
}
#Tabs1 .ui-widget-header
{
   border: 0px solid #F5F5F5;
   background-color: #FFFFFF;
   background-image: none;
}
#Tabs1 .ui-state-default, #Tabs1 .ui-widget-content .ui-state-default
{
   border-color: #DCDCDC;
   background-image: linear-gradient(to bottom, #EFEFEF 0%, #EAEAEA 100%);
}
#Tabs1 .ui-state-hover, #Tabs1 .ui-widget-content .ui-state-hover
{
   border-color: #0094CB;
   background-image: linear-gradient(to bottom, #57CCF7 0%, #0094CB 100%);
}
#Tabs1 .ui-state-active, #Tabs1 .ui-widget-content .ui-state-active
{
   border-color: #0094CB;
   background-image: linear-gradient(to bottom, #57CCF7 0%, #009FD9 100%);
}
#Tabs1 .ui-state-default a, #Tabs1 .ui-widget-content .ui-state-default a
{
   color: #007DC5;
}
#Tabs1 .ui-state-hover a, #Tabs1 .ui-widget-content .ui-state-hover a
{
   color: #F5F5F5;
}
#Tabs1 .ui-state-active a, #Tabs1 .ui-widget-content .ui-state-active a
{
   color: #FFFFFF;
}
#Tabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#Tabs1 .description
{
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Shape1
{
   width: 577px;
   height: 317px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #0963AD dashed;
   border-radius: 4px;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.35%;
   top: 0.63%;
   width: 99.13%;
   height: 98.42%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#YouTube1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_YouTube1
{
   --plyr-color-main: #00AFF0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 5px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 5px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 5px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 5px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#Layer3
{
   background-color: #F0F4F8;
   background-image: none;
   border-radius: 5px;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image14
{
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_ABOUT
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#SKYLIB_ABOUT .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #DDDDDD;
   border-radius: 5px;
   overflow: visible;
   pointer-events: all;
}
#SKYLIB_ABOUT.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#SKYLIB_ABOUT .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#SKYLIB_ABOUT .modal-open
{
   overflow: hidden;
}
#SKYLIB_ABOUT .modal-dialog
{
   position: relative;
   width: 754px;
   margin-left: auto;
   margin-right: auto;
}
#SKYLIB_ABOUT .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#SKYLIB_ABOUT .modal-header
{
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding: 10px 10px 10px 10px;
   background-color: #00AFF0;
   border-bottom: 1px solid #DDDDDD;
}
#SKYLIB_ABOUT .modal-footer
{
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #DDDDDD;
}
#SKYLIB_ABOUT .modal-body
{
   position: relative;
   width: 754px;
   height: 484px;
}
#SKYLIB_ABOUT .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#SKYLIB_ABOUT .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#SKYLIB_ABOUT .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#SKYLIB_ABOUT .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: center;
   margin: 0;
}
#Blog1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin: 0;
   text-align: left;
   line-height: 1.2;
}
#Blog1 .blogitem
{
   background-color: #95E2FF;
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Blog1 .blogdate
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #595959;
   font-style: normal;
   text-decoration: underline;
}
#Blog1 .blogsubject
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   color: #3F3F3F;
   font-style: normal;
   text-decoration: none;
}
#Blog1 .blogcomments
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #3F3F3F;
   font-style: normal;
   text-decoration: underline;
}
#Blog1 .blogsubject a:link, #Blog1 .blogsubject a:visited, #Blog1 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Blog1 .blogcomments a:link, #Blog1 .blogcomments a:visited, #Blog1 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Blog1 .blogcomments
{
   text-decoration: none;
}
#Blog1 .no-thumb
{
   display: none;
}
#Blog1 .blogbutton
{
   display: none !important;
}
#Blog1 .blogitem
{
   background-color: transparent;
   display: inline-block;
   width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
}
#Blog1 .blogblock
{
   background-color: #95E2FF;
   border: 1px solid #cccccc;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   padding: 10px;
   width: 100%;
}
#Blog1 .blogsubject
{
   background-color: #95E2FF;
   border: 1px solid #cccccc;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   display: block;
   margin: 0 0 6px 0;  
   padding: 10px;
}
#Blog1 .blogtext
{
//   display: inline-block;
   height: 100%;
}
#Blog1 .blogthumb
{
   background-color: #FFFFFF;
   padding: 4px;
   margin: 5px;
   float: right;
   border: 1px solid #ddd;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
   box-shadow: 0px 1px 3px rgba(0,0,0,0.055);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   display: inline-block;
}
#Blog1 .blogthumb img
{
   border-width: 0;
   width: 120px;
   height: auto;
   vertical-align: middle;
   margin: 0px 0px 0px 0px;
}
#Blog1 .blogbutton
{
   font-family: Arial;
   font-size: 13px;
   text-decoration: underline;
   margin-top: 6px;
   cursor: pointer;
   color: #3F3F3F;
}
#Blog1 .blogrow
{
   margin: 0;
}
#Blog1 .blogcolumn
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 6px 6px 6px 6px;
   width: 100%;
   text-align: center;
   vertical-align: top;
}
#Blog1 .clearfix:before,
#Blog1 .clearfix:after,
#Blog1 .blogrow:before,
#Blog1 .blogrow:after
{
   display: table;
   content: " ";
}
#Blog1 .clearfix:after,
#Blog1 .blogrow:after
{
   clear: both;
}
#Blog1 .visible-col2
{
   display: none;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#Layer5
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#SKYLIB_ABOUT_CONTROLLER
{
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#SKYLIB_PLAYER
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
}
#wb_SKYLIB_PLAYER
{
   --plyr-color-main: #00B3FF;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MediaPlayer1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
}
#SKYLIB_FOOTER
{
   background-image: linear-gradient(to bottom, #0094CB 0%, #0094CB 78%, #FFFFFF 79%, #FFFFFF 100%);
   border-radius: 0px;
   box-sizing: border-box;
}
