div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #00489F;
   text-decoration: underline;
}
a:active
{
   color: #0064DD;
}
a:hover
{
   color: #0064DD;
   text-decoration: underline;
}
#SKYLIB3_HEADER
{
   background-image: linear-gradient(to bottom, #FFFFFF 0%, #F8F8F8 34%, #E1E1E1 34%, #F6F6F6 70%, #E5F7FD 70%, #E5F7FD 100%);
   border-radius: 0px;
   box-sizing: border-box;
}
#SKYLIB3_HEADER
{
   transition: top 150ms linear 0ms;
}
#SKYLIB3_HEADER.scroll-up
{
   top: -115px !important;
}
#wb_SEP2
{
   vertical-align: top;
}
#SEP2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP1
{
   vertical-align: top;
}
#SEP1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP4
{
   vertical-align: top;
}
#SEP4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP5
{
   vertical-align: top;
}
#SEP5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_HEADER_IF
{
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#WEBWRAP
{
   background-color: #00AFF0;
   background-image: url('images/download_bg_3.png');
   background-repeat: no-repeat;
   background-position: center bottom;
   border-radius: 0px;
}
#FIXES
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#DL_WIN
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 5px 7px;
   margin: 0;
   text-align: center;
}
#wb_Text15 div
{
   text-align: center;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_FOOTER_IF
{
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#DL_LIN_DEB
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape3
{
   top: 0px;
   width: 264px;
   height: 51px;
   background-image: linear-gradient(to top, #7CB414 0%, #CEF08F 100%);
   border: 2px #67990F solid;
   border-radius: 1px;
}
#Shape3:hover
{
   background-image: linear-gradient(to top, #5BA204 0%, #91CA44 100%);
   border: 2px #51760C solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.38%;
   top: 1.96%;
   width: 98.86%;
   height: 94.12%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_FIXES_TEXT 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 25px 0 25px;
   margin: 0;
   text-align: justify;
}
#wb_FIXES_TEXT
{
   color: #0181E3;
   font-family: Arial;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
}
#wb_FIXES_TEXT p, #wb_FIXES_TEXT ul
{
   margin: 0;
   padding: 0;
}
#DL
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_SEP50
{
   vertical-align: top;
}
#SEP50
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP51
{
   vertical-align: top;
}
#SEP51
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#BUGS
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_SEP40
{
   vertical-align: top;
}
#SEP40
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP41
{
   vertical-align: top;
}
#SEP41
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_BUGS_TEXT 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 25px 0 25px;
   margin: 0;
   text-align: justify;
}
#wb_BUGS_TEXT
{
   color: #0181E3;
   font-family: Arial;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
}
#wb_BUGS_TEXT p, #wb_BUGS_TEXT ul
{
   margin: 0;
   padding: 0;
}
#wb_DL_TEXT 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 25px 0 25px;
   margin: 0;
   text-align: justify;
}
#wb_DL_TEXT
{
   color: #0181E3;
   font-family: Arial;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
}
#wb_DL_TEXT p, #wb_DL_TEXT ul
{
   margin: 0;
   padding: 0;
}
#INFO
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_SEP10
{
   vertical-align: top;
}
#SEP10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_SEP11
{
   vertical-align: top;
}
#SEP11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_INFO_TEXT 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 25px 0 25px;
   margin: 0;
   text-align: justify;
}
#wb_INFO_TEXT
{
   color: #0181E3;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   line-height: 21px;
}
#wb_INFO_TEXT p, #wb_INFO_TEXT ul
{
   margin: 0;
   padding: 0;
}
#PhotoGallery3
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery3 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery3 .frame
{
   padding: 4px;
   background-color: #fff;
   border: 1px #DDDDDD solid;
   border-radius: 5px;
}
#PhotoGallery3 .thumbnail img
{
   border-width: 0;
   box-sizing: border-box;
   border-radius: 3px;
}
#PhotoGallery3 .clearfix:before,
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:before,
#PhotoGallery3 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:after
{
   clear: both;
}
#PhotoGallery3 .visible-col4
{
   display: none;
}
#PhotoGallery3_img0
{
   width: 307px;
   height: 182px;
}
#PhotoGallery3_img1
{
   width: 307px;
   height: 182px;
}
#PhotoGallery3_img2
{
   width: 307px;
   height: 182px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 5px 7px;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_WELCOME_TEXT 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 25px;
   margin: 0;
   text-align: left;
}
#wb_WELCOME_TEXT div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 25px 0 25px;
   margin: 0;
   text-align: justify;
}
#wb_Text2
{
   color: #0181E3;
   font-family: Arial;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-image: linear-gradient(to bottom, #D9F3FD 0%, #C3EAF9 100%);
   border-radius: 5px;
   box-shadow: 0px 0px 5px #4F4F4F;
}
#wb_SEP3
{
   vertical-align: top;
}
#SEP3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#KSKYPE_BUT_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 2.28%;
   top: 2.5%;
   width: 97.5%;
   height: 92.5%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SKYLIB_FOOTER
{
   background-color: #00AFF0;
   background-image: url('images/getskype.jpg');
   background-repeat: no-repeat;
   background-position: center bottom;
   border-radius: 0px;
   box-sizing: border-box;
}
