body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Line2
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#Layer2
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Line1
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 100%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery1 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery1 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery1 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery1 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col1
{
   display: block;
}
#PhotoGallery2
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery2 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery2 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 50%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery2 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery2 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery2 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery2 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery2 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery2 .clearfix:before,
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:before,
#PhotoGallery2 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:after
{
   clear: both;
}
#PhotoGallery2 .visible-col2
{
   display: block;
}
#Layer3
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Line3
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#Layer4
{
   background-color: #01BBFF;
   background-image: none;
   border-radius: 10px;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 5px;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Line4
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#PhotoGallery3
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery3 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery3 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery3 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery3 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery3 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery3 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery3 .clearfix:before,
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:before,
#PhotoGallery3 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:after
{
   clear: both;
}
#PhotoGallery3 .visible-col3
{
   display: block;
}
#PhotoGallery4
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery4 .thumbnails
{
   margin: 0;
   font-size: 0;
}
#PhotoGallery4 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   display: inline-block;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: middle;
}
#PhotoGallery4 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery4 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery4 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery4 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery4 .thumbnail img
{
   border: 0px #000000 solid;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery4 .clearfix:before,
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:before,
#PhotoGallery4 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:after
{
   clear: both;
}
#PhotoGallery4 .visible-col3
{
   display: block;
}
#Layer5
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Shape4
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape4:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape3
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape3:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape1
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape1:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape2
{
   top: 0px;
   width: 426px;
   height: 62px;
   background-image: linear-gradient(to top, #48BA0E 0%, #7CD344 100%);
   border: 1px #3FA50C solid;
   border-radius: 38px;
}
#Shape2:hover
{
   background-image: linear-gradient(to top, #3FA50C 0%, #64B733 100%);
   border: 1px #7CD344 solid;
}
#Shape2_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 4.46%;
   top: 30.65%;
   width: 90.85%;
   height: 37.1%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Shape5
{
   width: 533px;
   height: 21px;
   background-color: transparent;
   background-image: none;
   border: 0px #0963AD solid;
}
#Shape5_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.19%;
   top: 4.76%;
   width: 99.62%;
   height: 90.48%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
