div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#SKYLIB_HEADER
{
   background-color: #00AFF0;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_Image54
{
   vertical-align: top;
}
#Image54
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Shape1
{
   top: 0px;
   width: 258px;
   height: 62px;
   background-image: linear-gradient(to top, #01A0D9 0%, #57CCF7 100%);
   border: 1px #59CAF4 solid;
   border-radius: 25px;
   box-shadow: 1px 1px 8px rgba(25,140,182,0.78);
}
#Shape1:hover
{
   background-image: linear-gradient(to top, #0094CB 0%, #3CBEEE 100%);
   border: 1px #00BFFF solid;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 5.04%;
   top: 20.97%;
   width: 89.53%;
   height: 56.45%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#group1
{
   background-color: transparent;
   background-image: url('images/SKYLIB_GROUP_BOX.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 7px;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape6
{
   top: 0px;
   width: 216px;
   height: 46px;
   background-image: linear-gradient(to top, #01A0D9 0%, #57CCF7 100%);
   border: 1px #59CAF4 solid;
   border-radius: 13px;
   box-shadow: 1px 1px 8px rgba(25,140,182,0.78);
}
#Shape6:hover
{
   background-image: linear-gradient(to top, #0094CB 0%, #3CBEEE 100%);
   border: 1px #00BFFF solid;
}
#Shape6_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 3.24%;
   top: 15.22%;
   width: 93.06%;
   height: 67.39%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19
{
   color: #3C3C3C;
   font-family: Arial;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
}
#wb_Text19 p, #wb_Text19 ul
{
   margin: 0;
   padding: 0;
}
#Shape8
{
   top: 0px;
   width: 479px;
   height: 48px;
   background-image: linear-gradient(to top, #01A0D9 0%, #57CCF7 100%);
   border: 1px #59CAF4 solid;
   border-radius: 13px;
   box-shadow: 1px 1px 8px rgba(25,140,182,0.78);
}
#Shape8:hover
{
   background-image: linear-gradient(to top, #0094CB 0%, #3CBEEE 100%);
   border: 1px #00BFFF solid;
}
#Shape8_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 1.46%;
   top: 14.58%;
   width: 96.87%;
   height: 68.75%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#group2
{
   background-color: transparent;
   background-image: url('images/SKYLIB_GROUP_BOX.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 7px;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Shape4
{
   top: 0px;
   width: 216px;
   height: 46px;
   background-image: linear-gradient(to top, #01A0D9 0%, #57CCF7 100%);
   border: 1px #59CAF4 solid;
   border-radius: 13px;
   box-shadow: 1px 1px 8px rgba(25,140,182,0.78);
}
#Shape4:hover
{
   background-image: linear-gradient(to top, #0094CB 0%, #3CBEEE 100%);
   border: 1px #00BFFF solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 3.24%;
   top: 15.22%;
   width: 93.06%;
   height: 67.39%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text18 div
{
   text-align: right;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#group3
{
   background-color: transparent;
   background-image: url('images/SKYLIB_GROUP_BOX.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 7px;
}
#group1_connect
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#group1_connect .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#group1_connect.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#group1_connect .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#group1_connect .modal-open
{
   overflow: hidden;
}
#group1_connect .modal-dialog
{
   position: relative;
   width: 510px;
   margin-left: auto;
   margin-right: auto;
}
#group1_connect .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#group1_connect .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #008BBF;
   border-bottom: 1px solid #59CAF4;
}
#group1_connect .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #59CAF4;
}
#group1_connect .modal-body
{
   position: relative;
   width: 510px;
   height: 282px;
}
#group1_connect .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#group1_connect .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#group1_connect .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#group1_connect .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: left;
   margin: 0;
}
#SKYLIB_ABOUT_BACK1
{
   width: 230px;
   height: 479px;
   background-color: #F0F4F8;
   background-image: none;
   border: 0px #DDDDDD solid;
}
#SKYLIB_ABOUT_BACK1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.43%;
   top: 0.21%;
   width: 99.13%;
   height: 99.58%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#SKYLIB_ABOUT_CONTROLLER
{
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#SKYLIB_KONALOBOSTUDIO
{
   background-color: #C7ECFC;
   background-image: none;
   border-radius: 0px;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_SKYLIB_THANKS 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_SKYLIB_THANKS div
{
   text-align: left;
}
#SKYLIB_THANKUSER1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#SKYLIB_THANKUSER2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#SKYLIB_THANKUSER3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#SKYLIB_THANKUSER4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#Layer5
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#SKYLIB_PLAYER
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
}
#wb_SKYLIB_PLAYER
{
   --plyr-color-main: #00B3FF;
}
#MediaPlayer1
{
   box-sizing: border-box;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text25 div
{
   text-align: right;
}
#wb_Image14
{
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26 div
{
   text-align: left;
}
#group3_connect
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#group3_connect .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#group3_connect.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#group3_connect .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#group3_connect .modal-open
{
   overflow: hidden;
}
#group3_connect .modal-dialog
{
   position: relative;
   width: 510px;
   margin-left: auto;
   margin-right: auto;
}
#group3_connect .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#group3_connect .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #008BBF;
   border-bottom: 1px solid #59CAF4;
}
#group3_connect .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #59CAF4;
}
#group3_connect .modal-body
{
   position: relative;
   width: 510px;
   height: 217px;
}
#group3_connect .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#group3_connect .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#group3_connect .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#group3_connect .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: left;
   margin: 0;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image17
{
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   top: 0px;
   width: 216px;
   height: 46px;
   background-image: linear-gradient(to top, #01A0D9 0%, #57CCF7 100%);
   border: 1px #59CAF4 solid;
   border-radius: 13px;
   box-shadow: 1px 1px 8px rgba(25,140,182,0.78);
}
#Shape2:hover
{
   background-image: linear-gradient(to top, #0094CB 0%, #3CBEEE 100%);
   border: 1px #00BFFF solid;
}
#Shape2_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 3.24%;
   top: 15.22%;
   width: 93.06%;
   height: 67.39%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_Text27 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text27
{
   color: #3C3C3C;
   font-family: Arial;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
}
#wb_Text27 p, #wb_Text27 ul
{
   margin: 0;
   padding: 0;
}
#Shape3
{
   top: 0px;
   width: 479px;
   height: 48px;
   background-image: linear-gradient(to top, #01A0D9 0%, #57CCF7 100%);
   border: 1px #59CAF4 solid;
   border-radius: 13px;
   box-shadow: 1px 1px 8px rgba(25,140,182,0.78);
}
#Shape3:hover
{
   background-image: linear-gradient(to top, #0094CB 0%, #3CBEEE 100%);
   border: 1px #00BFFF solid;
}
#Shape3_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 1.46%;
   top: 14.58%;
   width: 96.87%;
   height: 68.75%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#SKYLIB_ABOUT
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#SKYLIB_ABOUT .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #DDDDDD;
   border-radius: 5px;
   overflow: visible;
   pointer-events: all;
}
#SKYLIB_ABOUT.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#SKYLIB_ABOUT .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#SKYLIB_ABOUT .modal-open
{
   overflow: hidden;
}
#SKYLIB_ABOUT .modal-dialog
{
   position: relative;
   width: 754px;
   margin-left: auto;
   margin-right: auto;
}
#SKYLIB_ABOUT .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#SKYLIB_ABOUT .modal-header
{
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding: 10px 10px 10px 10px;
   background-color: #00AFF0;
   border-bottom: 1px solid #DDDDDD;
}
#SKYLIB_ABOUT .modal-footer
{
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #DDDDDD;
}
#SKYLIB_ABOUT .modal-body
{
   position: relative;
   width: 754px;
   height: 484px;
}
#SKYLIB_ABOUT .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#SKYLIB_ABOUT .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#SKYLIB_ABOUT .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#SKYLIB_ABOUT .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-align: center;
   margin: 0;
}
#SKYLIB_FOOTER_IFRAME
{
   box-sizing: border-box;
   border: 0px solid #DDDDDD;
   border-radius: 0px;
   margin: 0;
}
#SKYLIB_HEADER_IFRAME
{
   box-sizing: border-box;
   border: 1px solid transparent;
   border-radius: 0px;
   margin: 0;
}
#Button1
{
   box-sizing: border-box;
   line-height: 20px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #006400;
   border-radius: 15px;
   background-image: linear-gradient(to top, #B4E391 0%, #61C419 50%, #B4E391 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#SKYLIB_FOOTER
{
   background-image: linear-gradient(to bottom, #0094CB 0%, #0094CB 78%, #FFFFFF 79%, #FFFFFF 100%);
   border-radius: 0px;
   box-sizing: border-box;
}
