@font-face {
  font-family: "Rotonda Regular";
  src: url("/tech/font/RotondaC.eot");
  src: url("/tech/font/RotondaC.eot?#iefix") format("embedded-opentype");
  src: url("/tech/font/RotondaC.woff") format("woff");
}
html {
  cursor: url("/tech/curs/blue_normal.cur"), pointer !important;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(/tech/back_alt.jpg);
  background-color: #111;
  min-width: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.adir * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.adir {
  font-family: "Rotonda Regular";
  color: rgb(255, 255, 255);
  width: 70%;
  margin: 5% auto 5% auto;
  padding: 1em;
  font-size: 0.95em;
  line-height: 1.5;
  box-sizing: border-box;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.425), 0 3px 6px rgba(0, 0, 0, 0.425);
  background: linear-gradient(#88888888, #22222288);
  border-radius: 7px;
  backdrop-filter: blur(5px);
}
.adir h1 {
  font-weight: normal;
  color: rgb(255, 255, 255);
  font-size: 200%;
  text-shadow: 1px 1px 2px black;
}
.adir h2 {
  font-weight: normal;
  color: rgb(255, 255, 255);
  font-size: 150%;
  margin-top: 2em;
  text-shadow: 1px 1px 2px black;
}
.adir h3 {
  font-weight: normal;
  color: rgb(212, 212, 212);
  font-size: 100%;
  text-shadow: 1px 1px 2px black;
}
.adir table {
  border-spacing: 0;
  width: 100%;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  table-layout: fixed;
  margin: 1em 0;
}
.adir table > thead > tr > td {
  padding: 0.5em 2em 0.5em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 100%;
  color: rgb(212, 212, 212);
  text-shadow: 1px 1px 2px black;
}
.adir table > tbody > tr > td {
  padding: 0.5em 2em 0.5em 0;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.adir a:link {
  color: rgb(70, 205, 255);
  text-decoration: none; 
  text-shadow: 1px 1px 2px black;
}
.adir a:visited {
  color: rgb(70, 205, 255);
}
.adir a:active {
  color: rgb(70, 205, 255);
}
.adir a:hover {
  cursor: url("/tech/curs/blue_alt.cur"), pointer !important;
  color: orange;
}
.adir .col-file {
  width: 50%;
}
.adir .col-size {
  width: 10%;
}
.adir .col-date {
  width: 10%;
}
.adir .col-cust {
  width: 0;
}
.adir .file {
  width: 50%;
}
.adir .fold {
  width: 50%;
}
.adir .fold a:link {
  color: rgb(70, 205, 255);
  text-shadow: 1px 1px 2px black;
}
.adir .fold a:visited {
  color: rgb(70, 205, 255);
}
.adir .fold a:active {
  color: rgb(70, 205, 255);
}
.adir .fold a:hover {
  color: orange;
}
.adir .size {
  width: 10%;
  text-align: right;
}
.adir .fols {
  text-align: right;
  color: rgb(212, 212, 212);
  width: 10%;
  text-shadow: 1px 1px 2px black;
}
.adir .date {
  width: 10%;
  text-shadow: 1px 1px 2px black;
}
.adir .cust {
  width: 0;
  text-shadow: 1px 1px 2px black;
}
