body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #CCCCCC;
   box-sizing: border-box;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button1
{
   border: 1px solid #C0C0C0;
   border-radius: 1px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Editbox1
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button2
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Shape4
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape4_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape7
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape7_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape10
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape10_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape11
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape11_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape14
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape14_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape16
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape16_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape18
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape18_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape20
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #333333 0%, #444444 100%);
   border: 0px #245580 solid;
}
#Shape20_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#Shape12
{
   width: 175px;
   height: 26px;
   background-image: linear-gradient(to top, #444444 0%, #4F4F4F 100%);
   border: 0px #245580 solid;
}
#Shape12_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
    left: 0.57%;
   top: 3.85%;
   width: 98.86%;
   height: 92.31%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: left;
   word-wrap: break-word;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Combobox1
{
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FBFBFB;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox2
{
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FBFBFB;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 12px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox3
{
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FBFBFB;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Line6
{
   border-color: #DDDDDD;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#Button5
{
   border: 1px solid #396AA6;
   border-radius: 2px;
   background-image: linear-gradient(to top, #3F76B7 0%, #6891E7 100%);
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape1
{
   width: 1283px;
   height: 40px;
   background-image: linear-gradient(to top, #535353 0%, #696969 100%);
   border: 0px #245580 solid;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 0.08%;
   top: 2.5%;
   width: 99.84%;
   height: 95%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#FileUpload1 *
{
   box-sizing: border-box;
}
#FileUpload1
{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#FileUpload1 .form-control
{
   display: block;
   width: 100%;
   height: 26px;
   line-height: 18px;
   padding: 4px 4px 4px 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   color: #555555;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#FileUpload1 .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0;
}
#FileUpload1 label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#FileUpload1 .input-group-btn, FileUpload1 .form-control
{
   display: table-cell;
}
#FileUpload1 :first-child.form-control, FileUpload1 :first-child.input-group-btn > .btn, FileUpload1 :first-child.input-group-btn > .btn-group > .btn, FileUpload1 :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, FileUpload1 :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#FileUpload1 .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0;
   white-space: nowrap;
}
#FileUpload1 .btn
{
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #428BCA;
   background-image: none;
   border: 1px solid #357EBD;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18px;
   border-radius: 4px;
   height: 26px;
}
#FileUpload1 .input-group-btn > .btn
{
   position: relative;
}
#FileUpload1-file:disabled ~ .btn
{
   background-color: #e9ecef;
   border-color: #CCCCCC;
   pointer-events: none;
   color: #CCCCCC;
}
#FileUpload1 :last-child.form-control, #FileUpload1 :last-child.input-group-btn > .btn, #FileUpload1 :last-child.input-group-btn > .btn-group > .btn, #FileUpload1 :first-child.input-group-btn > :not(:first-child).btn, FileUpload1 :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#FileUpload1 :last-child.input-group-btn > .btn, FileUpload1 :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#PageFooter2
{
   background-color: #F1F1F1;
   background-image: none;
   border: 1px solid #CCCCCC;
   box-sizing: border-box;
   border-radius: 0px;
   box-sizing: border-box;
}
#Combobox2
{
   position: absolute;
   left: 328px;
   top: 18px;
   width: 140px;
   height: 28px;
   z-index: 7;
}
#wb_Shape1
{
   position: absolute;
   left: 0px;
   top: 52px;
   width: 1283px;
   height: 40px;
   z-index: 26;
}
#Combobox3
{
   position: absolute;
   left: 478px;
   top: 18px;
   width: 140px;
   height: 28px;
   z-index: 8;
}
#Button2
{
   position: absolute;
   left: 714px;
   top: 10px;
   width: 65px;
   height: 30px;
   z-index: 3;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 1px;
   width: 225px;
   height: 48px;
   z-index: 0;
}
#PageHeader1
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 52px;
   z-index: 7777;
}
#wb_Image2
{
   position: absolute;
   left: 556px;
   top: 283px;
   width: 118px;
   height: 80px;
   z-index: 25;
}
#Button1
{
   position: absolute;
   left: 806px;
   top: 10px;
   width: 113px;
   height: 30px;
   z-index: 2;
}
#FileUpload1-file
{
   display: none;
}
#Editbox1
{
   position: absolute;
   left: 225px;
   top: 10px;
   width: 544px;
   height: 20px;
   z-index: 1;
}
#Line6
{
   position: absolute;
   left: 30px;
   top: 56px;
   width: 1433px;
   z-index: 9;
}
#wb_Text7
{
   position: absolute;
   left: 30px;
   top: 68px;
   width: 123px;
   height: 15px;
   z-index: 10;
}
#wb_Text11
{
   position: absolute;
   left: 158px;
   top: 91px;
   width: 161px;
   height: 13px;
   z-index: 14;
}
#PageFooter2
{
   position: absolute;
   overflow: hidden;
   text-align: left;
   left: 0px;
   top: 878px;
   width: 100%;
   height: 125px;
   z-index: 28;
}
#wb_Shape12
{
   position: absolute;
   left: 51px;
   top: 319px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 24;
}
#wb_Shape18
{
   position: absolute;
   left: 51px;
   top: 231px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 22;
}
#wb_Shape16
{
   position: absolute;
   left: 51px;
   top: 205px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 21;
}
#wb_Shape14
{
   position: absolute;
   left: 51px;
   top: 179px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 20;
}
#wb_Shape11
{
   position: absolute;
   left: 51px;
   top: 153px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 19;
}
#wb_Shape10
{
   position: absolute;
   left: 51px;
   top: 127px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 18;
}
#wb_Text10
{
   position: absolute;
   left: 30px;
   top: 92px;
   width: 115px;
   height: 12px;
   z-index: 13;
}
#wb_Shape20
{
   position: absolute;
   left: 51px;
   top: 257px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 23;
}
#wb_Shape4
{
   position: absolute;
   left: 51px;
   top: 75px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 16;
}
#wb_Text8
{
   position: absolute;
   left: 153px;
   top: 68px;
   width: 250px;
   height: 15px;
   z-index: 11;
}
#wb_Shape7
{
   position: absolute;
   left: 51px;
   top: 101px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   z-index: 17;
}
#wb_Text9
{
   position: absolute;
   left: 423px;
   top: 68px;
   width: 250px;
   height: 15px;
   z-index: 12;
}
#Combobox1
{
   position: absolute;
   left: 153px;
   top: 18px;
   width: 166px;
   height: 28px;
   z-index: 6;
}
#wb_Image12
{
   position: absolute;
   left: 0px;
   top: 8px;
   width: 225px;
   height: 48px;
   z-index: 5;
}
#FileUpload1
{
   position: absolute;
   left: 327px;
   top: 377px;
   width: 200px;
   height: 26px;
   z-index: 27;
}
#Button5
{
   position: absolute;
   left: 1201px;
   top: 10px;
   width: 65px;
   height: 30px;
   z-index: 4;
}
@media only screen and (min-width: 1800px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   top: 0px;
   height: 52px;
   visibility: visible;
}
#PageHeader1
{
   width: 100%;
}
#wb_Image1
{
   left: 0px;
   top: 1px;
   width: 225px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 806px;
   top: 10px;
   width: 113px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Editbox1
{
   left: 225px;
   top: 10px;
   width: 544px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox1
{
   line-height: 20px;
}
#Button2
{
   left: 714px;
   top: 10px;
   width: 65px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Shape4
{
   left: 51px;
   top: 75px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape4
{
   width: 175px;
   height: 26px;
}
#wb_Shape7
{
   left: 51px;
   top: 101px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape7
{
   width: 175px;
   height: 26px;
}
#wb_Shape10
{
   left: 51px;
   top: 127px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape10
{
   width: 175px;
   height: 26px;
}
#wb_Shape11
{
   left: 51px;
   top: 153px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape11
{
   width: 175px;
   height: 26px;
}
#wb_Shape14
{
   left: 51px;
   top: 179px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape14
{
   width: 175px;
   height: 26px;
}
#wb_Shape16
{
   left: 51px;
   top: 205px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape16
{
   width: 175px;
   height: 26px;
}
#wb_Shape18
{
   left: 51px;
   top: 231px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape18
{
   width: 175px;
   height: 26px;
}
#wb_Shape20
{
   left: 51px;
   top: 257px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape20
{
   width: 175px;
   height: 26px;
}
#wb_Shape12
{
   left: 51px;
   top: 319px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape12
{
   width: 175px;
   height: 26px;
}
#wb_Image12
{
   left: 0px;
   top: 8px;
   width: 225px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Combobox1
{
   left: 153px;
   top: 18px;
   width: 166px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox2
{
   left: 328px;
   top: 18px;
   width: 140px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox3
{
   left: 478px;
   top: 18px;
   width: 140px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Line6
{
   left: 30px;
   top: 56px;
   width: 1433px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line6
{
   border-color: #DDDDDD;
   border-bottom-width: 1px;
}
#wb_Text7
{
   left: 30px;
   top: 68px;
   width: 123px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   left: 153px;
   top: 68px;
   width: 250px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 419px;
   top: 68px;
   width: 250px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   left: 30px;
   top: 92px;
   width: 115px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#wb_Text11
{
   left: 158px;
   top: 91px;
   width: 161px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   margin: 0;
   padding: 0;
}
#Button5
{
   left: 1201px;
   top: 10px;
   width: 65px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 556px;
   top: 283px;
   width: 118px;
   height: 80px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   left: 0px;
   top: 52px;
   width: 1920px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape1
{
   width: 1920px;
   height: 40px;
}
#FileUpload1
{
   left: 327px;
   top: 377px;
   width: 200px;
   height: 26px;
   visibility: visible;
   display: table;
   margin: 0;
}
#PageFooter2
{
   top: 878px;
   height: 125px;
   visibility: visible;
}
#PageFooter2
{
   width: 100%;
}
}
@media only screen and (min-width: 1366px) and (max-width: 1799px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   top: 0px;
   height: 52px;
   visibility: visible;
}
#PageHeader1
{
   width: 100%;
}
#wb_Image1
{
   left: 0px;
   top: 1px;
   width: 225px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 806px;
   top: 10px;
   width: 113px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Editbox1
{
   left: 225px;
   top: 10px;
   width: 544px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox1
{
   line-height: 20px;
}
#Button2
{
   left: 714px;
   top: 10px;
   width: 65px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Shape4
{
   left: 51px;
   top: 75px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape4
{
   width: 175px;
   height: 26px;
}
#wb_Shape7
{
   left: 51px;
   top: 101px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape7
{
   width: 175px;
   height: 26px;
}
#wb_Shape10
{
   left: 51px;
   top: 127px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape10
{
   width: 175px;
   height: 26px;
}
#wb_Shape11
{
   left: 51px;
   top: 153px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape11
{
   width: 175px;
   height: 26px;
}
#wb_Shape14
{
   left: 51px;
   top: 179px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape14
{
   width: 175px;
   height: 26px;
}
#wb_Shape16
{
   left: 51px;
   top: 205px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape16
{
   width: 175px;
   height: 26px;
}
#wb_Shape18
{
   left: 51px;
   top: 231px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape18
{
   width: 175px;
   height: 26px;
}
#wb_Shape20
{
   left: 51px;
   top: 257px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape20
{
   width: 175px;
   height: 26px;
}
#wb_Shape12
{
   left: 51px;
   top: 319px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape12
{
   width: 175px;
   height: 26px;
}
#wb_Image12
{
   left: 0px;
   top: 8px;
   width: 225px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Combobox1
{
   left: 153px;
   top: 18px;
   width: 166px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox2
{
   left: 328px;
   top: 18px;
   width: 140px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox3
{
   left: 478px;
   top: 18px;
   width: 140px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Line6
{
   left: 30px;
   top: 56px;
   width: 1433px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line6
{
   border-color: #DDDDDD;
   border-bottom-width: 1px;
}
#wb_Text7
{
   left: 30px;
   top: 68px;
   width: 123px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   left: 153px;
   top: 68px;
   width: 250px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 423px;
   top: 68px;
   width: 250px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   left: 30px;
   top: 92px;
   width: 115px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#wb_Text11
{
   left: 158px;
   top: 91px;
   width: 161px;
   height: 13px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   margin: 0;
   padding: 0;
}
#Button5
{
   left: 1201px;
   top: 10px;
   width: 65px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 556px;
   top: 283px;
   width: 118px;
   height: 80px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   left: 0px;
   top: 52px;
   width: 1366px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape1
{
   width: 1366px;
   height: 40px;
}
#FileUpload1
{
   left: 327px;
   top: 377px;
   width: 200px;
   height: 26px;
   visibility: visible;
   display: table;
   margin: 0;
}
#PageFooter2
{
   top: 878px;
   height: 125px;
   visibility: visible;
}
#PageFooter2
{
   width: 100%;
}
}
@media only screen and (max-width: 1365px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   top: 0px;
   height: 52px;
   visibility: visible;
}
#PageHeader1
{
   width: 100%;
}
#wb_Image1
{
   left: 0px;
   top: 1px;
   width: 225px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 690px;
   top: 10px;
   width: 113px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Editbox1
{
   left: 225px;
   top: 10px;
   width: 301px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox1
{
   line-height: 20px;
}
#Button2
{
   left: 536px;
   top: 10px;
   width: 65px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Shape4
{
   left: 51px;
   top: 75px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape4
{
   width: 175px;
   height: 26px;
}
#wb_Shape7
{
   left: 51px;
   top: 101px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape7
{
   width: 175px;
   height: 26px;
}
#wb_Shape10
{
   left: 51px;
   top: 127px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape10
{
   width: 175px;
   height: 26px;
}
#wb_Shape11
{
   left: 51px;
   top: 153px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape11
{
   width: 175px;
   height: 26px;
}
#wb_Shape14
{
   left: 51px;
   top: 179px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape14
{
   width: 175px;
   height: 26px;
}
#wb_Shape16
{
   left: 51px;
   top: 205px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape16
{
   width: 175px;
   height: 26px;
}
#wb_Shape18
{
   left: 51px;
   top: 231px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape18
{
   width: 175px;
   height: 26px;
}
#wb_Shape20
{
   left: 51px;
   top: 257px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape20
{
   width: 175px;
   height: 26px;
}
#wb_Shape12
{
   left: 51px;
   top: 319px;
   width: 175px;
   height: 26px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape12
{
   width: 175px;
   height: 26px;
}
#wb_Image12
{
   left: 0px;
   top: 8px;
   width: 225px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Combobox1
{
   left: 153px;
   top: 18px;
   width: 166px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox2
{
   left: 328px;
   top: 18px;
   width: 140px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox3
{
   left: 478px;
   top: 18px;
   width: 140px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Line6
{
   left: 30px;
   top: 56px;
   width: 1433px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line6
{
   border-color: #DDDDDD;
   border-bottom-width: 1px;
}
#wb_Text7
{
   left: 30px;
   top: 68px;
   width: 123px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   left: 153px;
   top: 68px;
   width: 250px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 419px;
   top: 68px;
   width: 250px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   left: 30px;
   top: 92px;
   width: 115px;
   height: 12px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#wb_Text11
{
   left: 158px;
   top: 91px;
   width: 161px;
   height: 13px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   margin: 0;
   padding: 0;
}
#Button5
{
   left: 877px;
   top: 10px;
   width: 65px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 556px;
   top: 283px;
   width: 118px;
   height: 80px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   left: 0px;
   top: 52px;
   width: 960px;
   height: 40px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape1
{
   width: 960px;
   height: 40px;
}
#FileUpload1
{
   left: 327px;
   top: 377px;
   width: 200px;
   height: 26px;
   visibility: visible;
   display: table;
   margin: 0;
}
#PageFooter2
{
   top: 878px;
   height: 125px;
   visibility: visible;
}
#PageFooter2
{
   width: 100%;
}
}
