div#container
{
   width: 1050px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url('../images/main_loading_Hi.png');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: repeat-x;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Line1
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#cusmenu ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#cusmenu ul.navbar li
{
   height: 25px;
   width: 154px;
   margin: 0 0 0px 0;
   vertical-align: bottom;
}
#cusmenu ul.navbar li a
{
   display: block;
   position: relative;
}
#cusmenu ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#cusmenu ul.navbar li span
{
   display: block;
   height: 25px;
   width: 154px;
   position: absolute;
   z-index: 2;
}
#cusmenu a .hover
{
   visibility: hidden;
}
#cusmenu a:hover .hover
{
   visibility: visible;
}
#cusmenu a:hover span
{
   visibility: hidden;
}
#wb_Carousel1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Carousel1 .frame
{
   width: 1023px;
   display: inline-block;
   float: left;
   height: 462px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination a
{
   display: inline-block;
   margin: 12px 12px 12px 12px;
   width: 11px;
   height: 11px;
   cursor: pointer;
   text-indent: -999px;
   background-color: #DCDCDC;
   border: 1px solid #FFD700;
}
#wb_Carousel1 .pagination a.active
{
   background-color: #FFD700;
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 45%;
   width: 52px;
   height: 40px;
   z-index: 999;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 45%;
   width: 52px;
   height: 40px;
   z-index: 999;
}
#Carousel1_back img, #Carousel1_next img
{
   border-width: 0;
}
#Carousel1_back a, #Carousel1_next a
{
   cursor: pointer;
}
#PhotoGallery2
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery2 .thumbnails
{
   margin: 0;
}
#PhotoGallery2 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 20%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery2 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: italic;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery2 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery2 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery2 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery2 .thumbnail img
{
   border: 0px #000000 solid;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery2 .clearfix:before,
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:before,
#PhotoGallery2 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery2 .clearfix:after,
#PhotoGallery2 .thumbnails:after
{
   clear: both;
}
#PhotoGallery2 .visible-col5
{
   display: block;
}
#PhotoGallery2_img0
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img1
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img2
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img3
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img4
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img5
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img6
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img7
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img8
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img9
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img10
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img11
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img12
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img13
{
   width: 180px;
   height: 120px;
}
#PhotoGallery2_img14
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 20%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: italic;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery1 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery1 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery1 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #000000 solid;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col5
{
   display: block;
}
#PhotoGallery1_img0
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img1
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img2
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img3
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img4
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img5
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img6
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img7
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img8
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img9
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img10
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img11
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img12
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img13
{
   width: 180px;
   height: 120px;
}
#PhotoGallery1_img14
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery3 .thumbnails
{
   margin: 0;
}
#PhotoGallery3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 20%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery3 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: italic;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery3 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery3 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery3 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery3 .thumbnail img
{
   border: 0px #000000 solid;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery3 .clearfix:before,
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:before,
#PhotoGallery3 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery3 .clearfix:after,
#PhotoGallery3 .thumbnails:after
{
   clear: both;
}
#PhotoGallery3 .visible-col5
{
   display: block;
}
#PhotoGallery3_img0
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img1
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img2
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img3
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img4
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img5
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img6
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img7
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img8
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img9
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img10
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img11
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img12
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img13
{
   width: 180px;
   height: 120px;
}
#PhotoGallery3_img14
{
   width: 180px;
   height: 120px;
}
#wb_Text40 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text40 div
{
   text-align: center;
}
#wb_Text42 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text42 div
{
   text-align: center;
}
#PhotoGallery4
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery4 .thumbnails
{
   margin: 0;
}
#PhotoGallery4 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 20%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery4 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: italic;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery4 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery4 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery4 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery4 .thumbnail img
{
   border: 0px #000000 solid;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery4 .clearfix:before,
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:before,
#PhotoGallery4 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery4 .clearfix:after,
#PhotoGallery4 .thumbnails:after
{
   clear: both;
}
#PhotoGallery4 .visible-col5
{
   display: block;
}
#PhotoGallery4_img0
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img1
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img2
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img3
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img4
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img5
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img6
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img7
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img8
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img9
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img10
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img11
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img12
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img13
{
   width: 180px;
   height: 120px;
}
#PhotoGallery4_img14
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery5 .thumbnails
{
   margin: 0;
}
#PhotoGallery5 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 20%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery5 .caption
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: italic;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   box-sizing: border-box;
   opacity: 0;
   -webkit-transition: all 600ms linear;
   transition: all 600ms linear;
}
#PhotoGallery5 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery5 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery5 .thumbnail a:hover .caption
{
   opacity: 0.78
}
#PhotoGallery5 .thumbnail img
{
   border: 0px #000000 solid;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery5 .clearfix:before,
#PhotoGallery5 .clearfix:after,
#PhotoGallery5 .thumbnails:before,
#PhotoGallery5 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery5 .clearfix:after,
#PhotoGallery5 .thumbnails:after
{
   clear: both;
}
#PhotoGallery5 .visible-col5
{
   display: block;
}
#PhotoGallery5_img0
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img1
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img2
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img3
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img4
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img5
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img6
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img7
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img8
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img9
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img10
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img11
{
   width: 180px;
   height: 120px;
}
#PhotoGallery5_img12
{
   width: 180px;
   height: 120px;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_logo
{
   vertical-align: top;
}
#logo
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image14
{
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image19
{
   vertical-align: top;
}
#Image19
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#NavigationBar1 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar li
{
   height: 25px;
   width: 154px;
   margin: 0 0 0px 0;
   vertical-align: bottom;
}
#NavigationBar1 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar1 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar1 ul.navbar li span
{
   display: block;
   height: 25px;
   width: 154px;
   position: absolute;
   z-index: 2;
}
#NavigationBar1 a .hover
{
   visibility: hidden;
}
#NavigationBar1 a:hover .hover
{
   visibility: visible;
}
#NavigationBar1 a:hover span
{
   visibility: hidden;
}
#wb_settings_pole
{
   vertical-align: top;
}
#settings_pole
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(0px 0px 3px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_gogle_icon
{
   vertical-align: top;
}
#gogle_icon
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(0px 0px 4px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#setings_button
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image17
{
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#PageFooter1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
