a {
  cursor: url("/tech/curs/blue_alt.cur"), pointer !important;
}
button {  cursor: url("/tech/curs/blue_alt.cur"), pointer !important;
}
html {
  cursor: url("/tech/curs/blue_normal.cur"), pointer !important;
}
body {
  background-image: url(/tech/back_alt.jpg);
  background-attachment: fixed;
}
#magixa_body {
  height: max-content;
  align-items: normal;
    display: flex;
    flex-direction: column;
}
.up_panel_bg {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.425), 0 3px 6px rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(5px);
  background: linear-gradient(#66666688, #11111191);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.up_panel {
  position: fixed;
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.up_ul {
  font-family: "Rotonda Regular";
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}
.up_li {
  margin-right: 20px;
}
.up_panel_link_btn,
.up_panel_link_btn:visited {
  color: rgb(70, 205, 255);
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
.up_panel_link_btn:hover {
  color: orange;
  text-decoration: none;
}
.up_panel_to_home {
  font-family: "Rotonda Regular";
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
.up_panel_to_home:hover {
  color: orange;
  text-decoration: none;
}
.music_panel {
  height: 100px;
  border-radius: 7px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.ms_pages_header {
  /* position: absolute; */
  height: 100px;
  background: #fff0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.ms_pages_header_sm {
  /* position: absolute; */
  background: #fff0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.players_1 {
  /* padding-top: 300px; */
  background: #fff0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wel {
  max-height: 60px;
  font-family: "Rotonda Regular";
  font-weight: bold;
  text-align: center;
  width: 80%;
  max-width: 1100px;
  font-size: 56px;
  color: #ffffff;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  /* padding: 60px; */
  text-shadow: 1px 1px 2px black;
}
.wel2 {
  font-family: "Rotonda Regular";
  font-weight: bold;
  text-align: center;
  width: 80%;
  max-width: 1100px;
  font-size: 28px;
  color: #ffffff;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  /* padding: 130px; */
  text-shadow: 1px 1px 2px black;
}

.ul_track {
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  width: 80%;
  justify-content: center;
}
.li_track {
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.425), 0 3px 6px rgba(0, 0, 0, 0.425);
  background: linear-gradient(#ffffff59, #bdbdbd4d);
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 450px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.track_desc {
  font-family: "Rotonda Regular";
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  margin: 5px;
  padding: 0;
  text-shadow: 1px 1px 2px black;
}
